<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dexter Campaign Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <nav class="nav">
            <a href="{{ url_for('phonebook') }}" class="button">Phonebook</a>
            <a href="{{ url_for('map_page') }}" class="button">Map</a>
            <a href="{{ url_for('info_index') }}" class="button">Info</a>
            <a href="{{ url_for('dm_home') }}" class="button dm-small">DM Tools</a>
        </nav>

        <h1>Welcome to Dexter</h1>
        <p>It’s not if you believe — it’s what you’re going to do about it.</p>
          {% if poster %}
          <img
            class="poster"
            src="{{ url_for('static', filename='posters/' + poster) }}"
            alt="80s film poster">
        {% endif %}
    </div>
</body>
</html>